@media screen and (max-width: 700px) {
  .netflix-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button {
    margin-top: 5px;
    width: 190px;
  }
}

@media screen and (min-width: 1000px) {
  .description {
    width: 40px;
  }
}